mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background:url(${"/"+video.thumbUrl});background-size:contain;background-position:center; background-repeat:no-repeat;`)
        .columns.video-mixin-wrapper
            .column.is-one-quarter
                img.video-avatar(src=`${video.owner.avatarUrl}`)
            .column
                div.video-mixin__data
                    span.video-mixin__title=video.title
                    div.video-mixin__uploader
                        span #{video.owner.name}
                    div.video-mixin__meta
                        span #{video.meta.views}회 &#4510;
                        span #{video.createdAt}                
