extends base.pug
include mixins/video

block content
    h1.title.is-1.has-text-grey.auth-title 
        i.fas.fa-user 
        span 내정보변경
    .tabs.is-large 
        ul
            li.is-active
                a(href=`profile`) 내정보변경
            li
                a(href=`videos`) 동영상
            li
                a(href=`change-password`) 비밀번호 
            li
                a() 회원탈퇴  
    form(method="POST",enctype="multipart/form-data",action="edit").auth__form.profile__form.edit__form
        .columns
            .column.is-two-fifths
                label(for="avatar").profile__form-avatar
                    img(src=`${loggedInUser.avatarUrl && loggedInUser.avatarUrl.startsWith('uploads') ? "/"+loggedInUser.avatarUrl : loggedInUser.avatarUrl}`,width="200",height="200")#preview-image
                    span.button 새 이미지 업로드
                    input(type="file",id="avatar",name="avatar",accept="image/*").input-image
            .column
                input.input.is-large(name="email",type="email",placeholder="이메일",required,autocomplete="off",autocapitalize="off",value=loggedInUser.email)
                input.input.is-large(name="name",type="text",placeholder="이름",required,autocomplete="chrome-off",value=loggedInUser.name)
                input.input.is-large(name="location",type="text",placeholder="직무",required,autocomplete="chrome-off",value=loggedInUser.location)    
                input.input.is-large(name="skill",type="text",placeholder="스킬",required,autocomplete="chrome-off",value=loggedInUser.skill)    
                input.button.is-large(type="submit",value="업데이트")   
                if !loggedInUser.socialOnly  
                    div.profile__form-manage
                        a(href="change-password").profile__form-changepassword change password
                        a(href="leave-account").profile__form-leaveaccount leave account
block scripts
    script(src="/assets/js/preview.js")
