extends base.pug
block head 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer")
block content 
    div#videoContainer
        video(src="/"+video.fileUrl,data-id=video._id)
        div#videoControls.videoControls
            div.videoControls__play
                button#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime
                    span /
                    span#totalTime 
            div.videoControls__timebox
                input(type="range",min="0",step="1",value="0")#timeline.videoControls__timeLine
            div.videoControls__volume
                button#mute
                    i.fas.fa-volume-up
                input(type="range",min="0",max="1",step="0.1",value="1")#volume
            div
                button#fullScreen 
                    i.fas.fa-expand
    div.videoTitle
        p=video.title
    div.videoView
        p 조회수&nbsp&nbsp#{video.meta.views}회
        span #{video.createdAt[0]}
        span #{video.createdAt[1]}
        span #{video.createdAt[2]}
        div.like
            i.fas.fa-thumbs-up(class=`like${liking}`)
            span.like-count #{video.meta.likes.length}
    div.videoUploader
        div.videoUploader__profile
            img(src=`${video.owner.avatarUrl}`).profileImg
            small.videoUploader__name 
                a(href=`/users/${video.owner._id}`) #{video.owner.name}
        div.videoUploader__access
            if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`).videoUploader__access-btn-edit.button 동영상 수정
            a(href=`${video.id}/delete`).videoUploader__access-btn-delete.button 동영상 삭제
    div.videoDescription
            p=video.description
    if loggedIn
        div.video__add-comments 
            img(src=`${loggedInUser.avatarUrl && loggedInUser.avatarUrl.startsWith('uploads') ? "/"+loggedInUser.avatarUrl : loggedInUser.avatarUrl}`).profileImg
            form.video__comment-form#commentForm
                textarea(placeholder="댓글 추가...")
                button.video__add-comments-btn 댓글
    div.video__comments
        ul 
            each comment in video.comments.reverse() 
                li(data-id=comment._id).comment
                    div.comment-box 
                        div.commet-profile
                            img(src=`${comment.owner.avatarUrl}`).profileImg
                        div.comment-wrapper
                            div.writer
                                span=`${comment.owner.name}`
                                span.write-time=`${comment.createdAt}`
                            div.content
                                span=`${comment.text}`
                    if String(comment.owner._id)===String(loggedInUser._id)
                        span.delBtn
                            i.fas.fa-eraser
block scripts
    script(src="/assets/js/commentSection.js") 
    script(src="/assets/js/videoPlayer.js") 

